<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
            <a href="DashBoard" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Dashboard
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="ManageCustomer" class="nav-link">
                <i class="nav-icon far fa-plus-square"></i>
                <p>
                    View User
                </p>
            </a>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Courier
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="AddCourier" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add Courier</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="ManageCourier" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Manage Courier</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="ManageHelp" class="nav-link">
                <i class="nav-icon far fa-plus-square"></i>
                <p>
                    View Help
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="ManageOrder" class="nav-link">
                <i class="nav-icon far fa-plus-square"></i>
                <p>
                    View Order
                </p>
            </a>
        </li>

        <li class="nav-item ">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-columns"></i>
                <p>
                    Track
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="AddTrack" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add Track</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="ManageTrack" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Manage Track</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item ">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-table"></i>
                <p>
                    Pickup
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="AddPickup" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add Pickup</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="ManagePickup" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Manage Pickup</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="CashVoucher" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Cash Voucher</p>
                    </a>
                </li>
            </ul>
        </li>




        <li class="nav-item">
            <a href="Index" class="nav-link">
                <p>
                    LogOut
                </p>
            </a>
        </li>
    </ul>
</nav>