
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout3.cshtml";
    ViewData["Title"] = "FlashSale";
}

<h3>FlashSale</h3>
<!-- /.card-header -->
<div class="card-body">

    <div class="card-header">
        <h3 class="card-title"></h3>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Coupon Card</th>
                <th>Ending Time</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>100 TK Coupon</td>
                <td>26/02/2023</td>
                <td>Take 5 times service, receive 1coupon free</td>
            </tr>
            <tr>
                <td>500 TK Coupon</td>
                <td>11/03/2023</td>

                <td>Take 12 times service, receive 1coupon free</td>
            </tr>
            <tr>
                <td>1200 TK Coupon</td>
                <td>26/04/2023</td>

                <td>Take 15 times service, receive 1coupon free</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.card-body -->
