@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model CourierManagement.Areas.Admin.Models.TrackingModel
@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout3.cshtml";
}
<header class="navigation fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand font-tertiary h3" href="UserProfile">Door2Door</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="UserProfile">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="AddOrder">Place Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="CustomerUpdate">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="AddHelp">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Index">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section class="hero-area bg-primary" id="parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 mx-auto">
                <h1 class="text-white font-tertiary">
                    Hi! I’m <br> @Html.ViewBag.username <br /> ID :
                    @Html.ViewData["id"] <br />
                    
                    @Accessor.HttpContext.Session.GetString("emailid")
                </h1>
            </div>
        </div>
    </div>
    <div class="layer-bg w-100">
        <img class="img-fluid w-100" src="/User/images/illustrations/leaf-bg.png" alt="bg-shape">
    </div>
    <div class="layer" id="l2">
        <img src="/User/images/illustrations/dots-cyan.png" alt="bg-shape">
    </div>
    <div class="layer" id="l3">
        <img src="/User/images/illustrations/leaf-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l4">
        <img src="/User/images/illustrations/dots-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l5">
        <img src="/User/images/illustrations/leaf-yellow.png" alt="bg-shape">
    </div>
    <div class="layer" id="l6">
        <img src="/User/images/illustrations/leaf-cyan.png" alt="bg-shape">
    </div>
    <div class="layer" id="l7">
        <img src="/User/images/illustrations/dots-group-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l8">
        <img src="/User/images/illustrations/leaf-pink-round.png" alt="bg-shape">
    </div>
    <div class="layer" id="l9">
        <img src="/User/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
    </div>
    <!-- social icon -->
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
        <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-facebook"></i></a></li>
        <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-instagram"></i></a></li>
        <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-dribbble"></i></a></li>
        <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-twitter"></i></a></li>
    </ul>
    <!-- /social icon -->
</section>
<section class="section section-on-footer" data-background="images/backgrounds/bg-dots.png">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Tracking Parcel</h2>
            </div>
            <div class="col-lg-8 mx-auto">
                <div class="bg-white rounded text-center p-5 shadow-down">
                    <form id="account" method="post" asp-controller="Courier" asp-action="UserProfile">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Id" class="form-control" placeholder="Tracking Id" />
                        </div><br />
                        <div class="col-lg-6 col-10 mx-auto">
                            <button class="btn btn-primary w-100">Search</button>
                        </div>
                        <h5 >
                            Status of your parcel: <br> @Html.ViewData["status"]
                        </h5>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>